@use '/src/mainColor' as *;

.light-mode {
  .filter-bar {
    --select-back: #{mainColor(98%)};
    --select-back-2: #fff;
    --select-color: #000;
    --select-border: 1px solid #{mainColor(90%)};
    --outline-color: rgba(255, 255, 255, 0.4);
    --filled-shadow: 0 0.5em 0.5em #{mainColor(50%, .1)};
  }
}
.dark-mode {
  .filter-bar {
    --select-back: #{mainColor(5%)};
    --select-back-2: #000;
    --select-color: #fff;
    --select-border: none;
    --outline-color: rgba(255, 255, 255, 0.1);
    --filled-shadow: none;
  }
}

.filter-bar {
  margin: 1em 0;
  padding: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .select {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    max-width: 100%;
    margin: .2em;
    padding: 0 .5em;
    border-radius: .5em;
    background-color: var(--select-back);
    border: var(--select-border);
    outline: 0px solid var(--outline-color);
    transition: box-shadow .5s, transform .15s, background-color .15s, outline .1s;
    
    &:focus-within {
      z-index: 1;
      outline-width: 5px !important;
    }
    
    &:hover, &:active, &:focus-within {
      --select-back : var(--select-back-2);
    }
    
    &.filled {
      --select-back : var(--select-back-2);
      box-shadow: var(--filled-shadow);
      transform: translateY(-3px);

      &::after {
        content: "x";
        margin-bottom: .1em;
        font-size: 1.1em;
        color: var(--select-color);
        transition: color .1s;
      }

      &:hover::after, &:focus-within::after {
        color: red;
      }    

      select {
        appearance: none;
        pointer-events: none;
        padding-left: 1em;
      }
    }

    select {
      max-width: 100%;
      cursor: pointer;
      font-size: inherit;
      padding: .5em .2em;
      border: none;
      outline: none;
      font-family: inherit;
      color: var(--select-color);
      background-color: var(--select-back);
      transition: background-color .15s;
    }
  }
}

