@use '/src/mainColor' as *;

.light-mode {
  .increment-btn {
    --btn-back: #{mainColor(90%)};
    * {
      filter: var(--light-img-filter);
    }
  }
}
.dark-mode {
  .increment-btn {
    --btn-back: #{mainColor(20%)};
  }
}

.slice-count {
  text-align: center;
  font-size: .9em;
  margin: 1em auto;
  color: mainColor(90%);
  filter: var(--light-img-filter);
}

.increment-btn {
  display: flex;
  align-items: center;
  font-size: inherit;
  border: none;
  cursor: pointer;
  padding: .5em .4em;
  margin: 1em auto;
  width: fit-content;
  border-radius: .5em;
  color: #fff;
  background: var(--btn-back);
  transition: transform .5s var(--cubik);
  --img-rotate: 0deg;
  
  &:hover {
    --img-rotate: -90deg;
    transform: scale(.98); 
  }
  
  &:active {
    --img-rotate: -360deg;
    transform: scale(.9);
  }
  
  * {
    margin: 0 .2em;
  }

  img { 
    pointer-events: none;
    transform: rotate(var(--img-rotate));
    transition: transform .5s var(--cubik);
  }
}
