@use '/src/mainColor' as *;

.light-mode {
  .back-title {
    --img-filter: brightness(0%);
  }
}
.dark-mode {
  .back-title {
    --img-filter: brightness(0%) invert(1);
  }
}

.back-title {
  overflow: hidden;

  .fade {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    padding: .1em;
    border-radius: 50%;
    filter: var(--img-filter);
    transition: background-color .2s;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}