@use '/src/mainColor' as *;
@use '/src/mediaQuery' as *;

.light-mode {
  header {
    --header-back: linear-gradient(0deg, #{mainColor(95%)}, #{mainColor(90%)});
    --header-box-shadow: 0 0 .5em #{mainColor(80%)};
    --logo-filter: var(--light-img-filter);
  }
}
.dark-mode {
  header {
    --header-back: linear-gradient(0deg, #{mainColor(10%)}, #{mainColor(5%)});
    --header-box-shadow: 0 0 .5em #{mainColor(0%)};
    --logo-filter: none;
  }
}


header {
  position: relative;
  z-index: 10;
  background-image: var(--header-back);
  min-height: var(--headerHeight);
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: var(--header-box-shadow);

  .logo {
    box-sizing: content-box;
    max-width: 95%;
    height: 2.5em !important;
    padding: 0 1vw;
    
    &.pakar-logo {
      height: 3em !important;
    }
    
    &.small-logo {
      filter: var(--light-img-filter);
    }
  }
  
  @include for-tablet-and-phone {
    justify-content: center;
    align-items: flex-start;
    
    .logo {
      display: none;
    }  
  }
}

