@use '/src/mediaQuery' as *;

#theme-toggle {
  font-family: valera, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --clr-background: hsl(0 0% 0%);
  --clr-foreground: hsl(0 0% 100%);
  cursor: pointer;
  background: 0;
  border: 0;
  opacity: 0.8;
  border-radius: 50%;
  position: relative;
  isolation: isolate;
  margin-left: auto;
  height: 3.6em;
  width: 3.6em;
  padding: .8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@include for-tablet-and-phone {
  #theme-toggle {
    display: none;
  }
}

.light-mode #theme-toggle {
  --clr-foreground: #333;
  --clr-background: hsl(0 0% 100%);
}

#theme-toggle svg {
  fill: var(--clr-foreground);
  height: 100%;
}

#theme-toggle::before {
  content: "";
  position: absolute;
  inset: 0;
  background: hsl(0 0% 50% / 0.2);
  border-radius: inherit;
  transform: scale(0);
  opacity: 0;
  z-index: -1;
}

.light-mode #theme-toggle::before {
  animation: pulseToLight 650ms ease-out;
}

#theme-toggle::before {
  animation: pulseToDark 650ms ease-out;
}

#theme-toggle::after {
  pointer-events: none;
  content: attr(aria-label);
  position: absolute;
  color: var(--clr-background);
  background: var(--clr-foreground);
  width: max-content;
  font-size: 1.2rem;
  left: 0;
  right: 50%;
  top: 100%;
  margin: 0 auto;
  padding: 0.2em .5em;
  border-radius: 0.125em;
  opacity: 0;
  transform: scale(0) translateX(50%);
  transform-origin: right;
  transition: transform 0ms linear 100ms, opacity 100ms linear;
}

#theme-toggle:hover {
  outline: 0;
  opacity: 1;
  background: hsl(0 0% 50% / 0.15);
}

@include for-desktop {
  #theme-toggle:hover::after,
  #theme-toggle:focus-visible::after {
    opacity: 0.7;
    transform: scale(1) translateX(50%);
    transition: transform 70ms linear, opacity 70ms linear;
  }
}

.toggle-circle {
  transition: transform 500ms ease-out;
}

.light-mode .toggle-circle {
  transform: translateX(-15%);
}

.toggle-sun {
  transform-origin: center center;
  transition: transform 750ms cubic-bezier(0.11, 0.14, 0.29, 1.32);
}

.light-mode .toggle-sun {
  transform: rotate(0.5turn);
}

@keyframes pulseToLight {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  10% {
    transform: scale(1);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes pulseToDark {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  10% {
    transform: scale(1);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
