@mixin for-phone {
  @media (max-width: 600px) { @content; }
}

@mixin for-tablet-and-phone {
  @media (max-width: 768px) { @content; }  
}

@mixin for-desktop {
  @media (min-width: 768px) { @content; }
}
