@use '/src/mainColor' as *;

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: var(--headerHeight) 1fr;

  --headerHeight: 4em;
  --cubik: cubic-bezier(0.175, 0.885, 0.32, 1);

  --main-hue: 220deg;

  &.light-mode {
    color: #000;
    background-image: linear-gradient(0deg, mainColor(100%), mainColor(90%));
  
    --light-img-filter: brightness(0) invert(87%) sepia(18%) saturate(245%) brightness(50%) contrast(200%) 
      hue-rotate(-40deg) 
      hue-rotate(var(--main-hue));
    --main-hs: var(--main-hue), 40%;    
    --title-back: #{mainColor(90%)};
    --title-top-back: #{mainColor(88%)};
    --title-top-color: #{mainColor(10%)};
    --title-bright-filter: contrast(1.2) brightness(.95);
  }
  &.dark-mode {
    color: #fff;
    background-image: linear-gradient(0deg, mainColor(15%), mainColor(10%));
    
    --main-hs: var(--main-hue), 13%;    
    --title-back: #{mainColor(20%)};
    --title-top-back: #{mainColor(15%)};
    --title-top-color: #{mainColor(100%)};
    --title-bright-filter: brightness(1.2);
  }  
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-weight: normal;
  width: fit-content;
  margin: 1em auto;
  padding: .25em .5em;
  border-radius: .5em;
  max-width: 95%;
  background: var(--title-back);
}

.title-top {
  width: 100%;
  font-weight: normal;
  text-align: center;
  margin: .5em auto;
  margin-top: 0;
  padding: .4em 0;
  background-color: var(--title-top-back);
  color: var(--title-top-color);

  &.bright {
    filter: var(--title-bright-filter);
  }
}

.container {
  
}

.btn-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: inherit;
  border: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}