@use '/src/mainColor' as *;

.light-mode {
  .home-page {
    --img-filter: brightness(0);
  }
}
.dark-mode {
  .home-page {
    --img-filter: brightness(1);
  }
}

.home-page {
  height: 100%;
  display: grid;
  place-items: center;

  .logos {
    position: relative;
    margin: 2em 0;
    max-width: 90vw;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .pakar-logo {
      width: 40%;
    }
    
    .site-logo {
      width: 80%;
      filter: var(--img-filter);
    }
    
    .site-logo-2 {
      margin-top: 1em;
      width: 100%;
      filter: var(--img-filter);
    }
  }
  
  .nav-panel {
    text-align: center;
    margin: 2em 0;
    padding: 0 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 2em;

      img {
        cursor: pointer;
        padding: 1em 0;
        margin: 0 2em;
        width: 20em;
        max-width: 100%;
        transition: transform .2s;

        &:hover {
          transform: scale(1.1);
        }
      }
      
      .sep-line {
        height: 2px;
        width: 25%;
        background: mainColor(80%);
      }
      
      p {
        margin: .8rem 0;
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
}  

